@import "normalize";
@import "settings";
$body-font-family: "Lato", sans-serif;
// Make sure the charset is set appropriately
@charset "UTF-8";

// Behold, here are all the Foundation components.
@import
  "foundation/components/grid",
  "foundation/components/accordion",
  "foundation/components/alert-boxes",
  "foundation/components/block-grid",
  "foundation/components/breadcrumbs",
  "foundation/components/button-groups",
  "foundation/components/buttons",
  "foundation/components/clearing",
  "foundation/components/dropdown",
  "foundation/components/dropdown-buttons",
  "foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/inline-lists",
  "foundation/components/joyride",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/magellan",
  "foundation/components/orbit",
  "foundation/components/pagination",
  "foundation/components/panels",
  "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/range-slider",
  "foundation/components/reveal",
  "foundation/components/side-nav",
  "foundation/components/split-buttons",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/tables",
  "foundation/components/tabs",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/top-bar",
  "foundation/components/type",
  "foundation/components/offcanvas",
  "foundation/components/visibility";

  @import "appstyles";
//base colors
$primary: #1abc9c;
$primary-lighter: #48C9B0;

$2: #8e44ad;
$3: #3498db;
$4: #e74c3c;
$4l: #e68078;

$inverse: #34495E;
$inverse-lighter: #415B76;
$inverse-even-lighter: #4d719b;
//other colors
$page-bg: #e5e5e5;
$boxes-bg: #fff;
$boxes-inside : #bdc3c7;
body {
    background-color: $page-bg;
    a {
        color: $primary;
    }
    a:hover, a:visited {
        color: $primary-lighter;
    }    
    
}
#border-top{
    height: 3px;
    width: 100%;
    position: fixed;
    background-color: $primary;
}
body > aside {
    height: 100%;
    width: 5rem;
    position: fixed;
    top: 3px;
    background-color: $inverse;
    overflow-y: visible;
    overflow-x: visible;
    .side_item {
        padding: 5px 0 6.5px 0;
        margin: 20px 0;
        text-align: center;
        color: #fff;
        text-shadow: 0 0 0.35px #fff;
        font-weight: 300;
        font-size: 1rem;
        text-transform: uppercase;
        transition: color 0.25s linear 0s, background-color 0.25s linear 0s, box-shadow 0.25s linear 0s;
        cursor: pointer;
        i {
            margin-bottom: 0.6rem;
            font-size: 2rem;
            line-height: 1;
            text-shadow: none;
        }
        
    }
    .side_item:hover {
        color: $primary;
        text-shadow: 0 0 0.35px $primary;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        background-color: $inverse-lighter;
        -webkit-box-shadow: inset 0 0 5px rgba(52, 73, 94, 0.88);
        box-shadow: inset 0 0 5px rgba(52, 73, 94, 0.88);
    }
    .side_item.active {
        color: $primary;
        text-shadow: 0 0 0.35px $primary;
        background-color: $inverse-lighter;
        -webkit-box-shadow: inset 0 0 5px rgba(52, 73, 94, 0.88);
        box-shadow: inset 0 0 5px rgba(52, 73, 94, 0.88);
    }
    .side_item.active::after {
        width: 4px;
        height: 4.33rem;
        position: absolute;
        margin-top: -3.94rem;
        margin-left: 2.5em;
        background-color: $primary;
        content: "";
    }
    .side_item.active:hover {
        color: $primary-lighter;       
    }    
}

div#main {
    //margin-left: 5.6rem;   
    width: 100%;
    max-width: none;
    .jumbotron {
        background: url('../images/soporific_m.jpg');
        min-height: 200px;
        padding-left: 10rem;
        //margin-top: -3px;
        padding: 5rem 10rem;
        h1 {
            font-weight: 900;
            font-size: 3rem;
        }
        h2 {
            font-weight: 400;
            font-style: italic;
            font-size: 2rem;
        }        
    } 
    
    .flexwrap {
        padding-left: 4.7rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .box {
            border: 1px solid black;
            padding: 0;
            max-width: 50rem;
            margin: 10px 10px;
            border-radius: 4px;
        }    ///// BOXES DESIGN ///////    
        .count {
            border: none;
            overflow: hidden;
            padding: 0;
            min-width: 20rem;
            background-color: blue;
            
        }        
    }
    
    .row.boxes {
        padding-left: 105px;
        padding-right: 25px;
        .boxwrap {
            padding: 0 10px;
            margin: 0;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .box {
            background-color: $boxes-bg;
            border-radius: 4px;
        }
        .box.counter {
            padding: 0;
            clear: both;
            div {
                display: block;
            }
            .number {
                width: 40%;
                margin: 0;
                background-color: $2;
                border-radius: 4px 0 0 4px;
                float:left;
                padding: 15px 0 15px 0;
                text-align: center;
                font-size: 4rem;
                color: $boxes-bg;
            }
            .c1 {background-color: $primary;}
            .c2 {background-color: $2;}
            .c3 {background-color: $3;}
            .c4 {background-color: $4;}
            .desc {
                width: 60%;
                margin: 0;
                background-color: $boxes-bg;
                border-radius: 0 4px 4px 0;
                float: right;
                padding: 15px 0 15px 0;
                text-align: center;
                color: #b1b1b1;
                em {
                    font-size: 3rem;
                    font-style: normal;
                    font-weight: 300;
                }
            }            
        }
        .box.profile {
            padding: 0;
            background-color: $4;
            min-height: 50px;
            padding: 20px 0;
            color: $boxes-bg;
            text-align: center;
            h2 {
                color: $boxes-bg;
            }
            .picture {
                height: 100px;
                width: 100px;
                border-radius: 50px;
                margin: auto;
                background-color: $4l;
                text-align: center;
                font-size: 90px;
                
            }
        }        
    }

}